{template 'common/header'}

<link type="text/css" rel="stylesheet" href="../addons/dcpie_mobilesales/style/css/wanimation.css" />
<style>
.loupan_list{overflow:hidden; padding-top:15px;}
.loupan_list li{border:1px #DDD solid; width:320px; float:left; margin-left:15px; margin-bottom:10px;}
.loupan_list li .loupan_pic{display:block; width:320px; height:160px; overflow:hidden;}
.loupan_list li .loupan_pic img{width:320px;}
.loupan_list li .loupan_main{padding:10px; overflow:hidden;}
.loupan_list li .loupan_main .loupan_title{font-size:16px; height:20px; width:217px; overflow:hidden;}
.loupan_list li .loupan_main .pull-left{color:#999;}
.loupan_manage .table th{width:120px;}
.loupan_manage #loupans_head img{margin-right:10px; max-height:70px;}
</style>

<div class="main">
	<form class="form-horizontal form" action="" method="post" enctype="multipart/form-data" >
		<div class="panel panel-default">
			<div class="panel-heading">
				参数设置
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">公众号名称</label>
					<div class="col-sm-5">
						<input type="text" name="uniacname" class="form-control" value="{$item['uniacname']}" />
						<span class="help-block">公众号名称</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">公众号头像</label>
					<div class="col-sm-5">
						{php echo tpl_form_field_image('uniacavatar', $item['uniacavatar']);}
						<span class="help-block">公众号头像</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">公众号二维码</label>
					<div class="col-sm-5">
						{php echo tpl_form_field_image('uniacqrcode', $item['uniacqrcode']);}
						<span class="help-block">公众号二维码</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">分享标题</label>
					<div class="col-sm-5">
						<input type="text" name="title" class="form-control" value="{$item['fxtitle']}" />
						<span class="help-block">分享标题</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">分享内容</label>
					<div class="col-sm-5">
						<textarea style="height:200px;" class="form-control" name="content" cols="70" id="reply-add-text">{$item['fxneirong']}</textarea>
						<span class="help-block">分享内容</span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">分享封面</label>
					<div class="col-sm-5">
						{php echo tpl_form_field_image('thumb', $item['fxtupian']);}
						<span class="help-block">分享封面</span>
					</div>
				</div>

				<!-- <div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">分享二维码</label>
					<div class="col-sm-5">
						{php echo tpl_form_field_image('icon', $item['fxerweima']);}
						<span class="help-block">分享二维码</span>
					</div>
				</div> -->

			</div>
			
		</div>
				
		<table class="tb">
			
			<tr>
				<th></th>
				<td>
					<button type="submit" class="btn btn-primary span3" name="submit" value="提交">提交</button>
					<input type="hidden" name="token" value="{$_W['token']}" />
				</td>
			</tr>
			<tr>
				<th></th>
				<td><div id="baidumap" style="width:600px; height:500px;"></div></td>
			</tr>
			
		</table>
	</form>
</div>


{template 'common/footer'}